﻿@{
    ViewData["Title"] = "Smiski Fan Club";
}
<body style="background-color:cornsilk;">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="p-3 ms-0 mb-2 shadow" style="background-color:darkolivegreen;border-radius:15px;text-align:center;">
    <h2>
        Smiski Fan Club
        <i class="material-icons" style="font-size:24px;">group</i>
    </h2>
</div>
<div class="p-5 ms-4 me-4">
    <img src="~/Images/smiskiLaptop.png" alt="smiski laptop" asp-append-version="true" class="float-start" img-fluid style="float:left;padding:10px;" />
    <h3>
        Our Purpose
    </h3>
    <p>
        Our goal is to connect Smiski fans far and wide. We strive to build a community that loves and cherishes Smiski's adventures as much as we do. Who is as nonchalant as Smiski? No one is. Our goal is to spread the Smiski way to souls who need it. 
    </p>
    <h3>
        Our Community
    </h3>
    <p>
        Our community loves Smiski. We bond through Smiski and share his different adventures. 
    </p>
    <h3>
        Our Love
    </h3>
    <p>
        We love Smiski.
    </p>
</div>
</body>