﻿@{
    ViewData["Title"] = "Smiski Fan Club";
}
<body style="background-color:cornsilk;">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="p-3 ms-0 mb-2 shadow" style="background-color:darkolivegreen;border-radius:15px;text-align:center;">
    <h2>
        Smiski Fan Club
        <i class="material-icons" style="font-size:24px;">group</i>
    </h2>
</div>
<div class="ms-3">
    <h3 style="text-align:center">He is the best</h3>
    <img src="~/Images/smiskiSleepy.png" alt="smiski sleep" asp-append-version="true" class="float-end" img-fluid style="float:left;padding:10px;" />
    <p>Our Location:</p>
    <address>
        101 Smiski Avenue<br />
        Smiski City, MI 11234<br />
    </address>

    <address>
        <strong>Discord:</strong>   <a href="https://fdsfsdfg.com">SMISKI4LIFE</a><br />
        <strong>Email Us:</strong> <a href="mailto:SmiskiClubRep@Smiski.com">SmiskiClubRep@Smiski.com</a>
    </address>
</div>
</body>
