@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:cornsilk;">
<div class="text-center">
    <h1 class="display-4" style="background-color:darkolivegreen;border-radius:15px;text-align:center;">Welcome to the Smiski Fan Club!</h1>
    <p>Just a little guy living a big life</p>
    <div class="col-4 p-5" >
        <img src="~/Images/smiskiClothes.png" alt="smiski clothes" asp-append-version="true" class="float-start p-4" style="height: 400px; width:600px;" />
    </div>
    <h3>Who is Smiski</h3>
    <p>Smiski is not only a guy, he is a lifestyle. His many adventures of putting on pants, sitting on the ground, teaching a cless, taking a shower, sitting on the ground again really represents humanity. We all strive to be like Smiski.</p>
</div>
</body>